@font-face {
	font-family: "RobotoSlab-Bold";
	src:url('fonts/RobotoSlab-Bold.ttf');
}

@font-face {
	font-family: "RobotoSlab-Regular";
	src:url('fonts/RobotoSlab-Regular.ttf');
}

@font-face {
	font-family: "RobotoSlab-Light";
	src:url('fonts/RobotoSlab-Light.ttf');
}

@font-face {
	font-family: "RobotoSlab-Thin";
	src:url('fonts/RobotoSlab-Thin.ttf');
}

body {
	font-family: 'Oswald', sans-serif;
}

p {
	font-weight: 700;
}
