p::first-letter { /*Da estilo a la primer letra*/
	font-size: 40px;
	font-weight: bolder;
}

p::first-line {
	background: #cf5c36;
	line-height: 40px;
}

*::selection {
	background: #f9a03f;
	color: green;
}

.caja {
	background: #f9a03f;
	height: 150px;
	width: 150px;
}

.caja::before {
	content: 'Contenido antes de la caja';
	display: block;
	background: #3a3a3a;
	color: #fff;
}

.caja::after {
	content: ''; /*Aunque no pongas nada es obligatorio el content*/
	width: 50px;
	height: 50px;
	display: block;
	background: #000;
	position: relative;
	left: 200px; 
}