/* Este es el selector universal
* {
	color: red;
}
*/

p {
	color: green;
}

div p {
	font-size: 20px; /*Tamaño de la letra*/
}

.grande {
	font-size: 28px;
	
}

.amarillo {
	color: yellow;
}