.caja {
	width: 200px;
	height: 200px;
	background: #21295c;
	transition:all 1s ease;
	/*transition-delay:0.2s;*/
}

.caja:hover {
	background: #9eb3c2;
	width: 400px;
	transform:rotate(180deg);
}

/*
Velocidad de Curva
	ease - Inicio lento, después rápido y termina lento
	linear - misma velocidad de inicio a fin
	ease-in - inicio lento
	ease-out . final lento
	ease-in-out inicio lento y final lento
*/